{% extends '@theme/layouts/base.html.twig' %}

{% block content %}
    <articles>
        {% for category, resource in all_categories %}
            {% if category == title %}
                {% for post in resource|sortBy('date')|reverse %}
                    <article class="row text-center">
                        <h3>{{ post.title }}</h3>
                        <div class="col-xs-6">
                            <img src="{{ site.url }}/assets/img/featured/{{ post.slug }}.jpg" alt="" class="img-rounded" height="232" width="232" title="{{ post.title }}" />
                        </div>
                        <div class="col-xs-6">
                            <p class="text-justify">{{ post.content|striptags|slice(0,200) }} ...</p>
                            <p>
                                <span class="glyphicon glyphicon-calendar"></span>
                                <time class="published" datetime="{{ date|date("Y-m-d") }}">{{ date|date("d.m.Y") }}</time>
                            </p>
                            <a href="{{ site.url }}/{{ post.slug }}" class="btn btn-success">Read more</a>
                        </div>
                    </article>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </articles>
{% endblock %}