{% extends '@theme/layouts/base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-9">
            <div class="box">
                <h1>{{ title }}</h1>
                {{ content }}
            </div>
        </div>
        <aside class="col-md-3">
            <section class="box">
                <h2>Categories</h2>
                <ul>
                    {% for category, resource in all_categories %}
                        <li>
                            <a href="{{ site.url }}/category/{{ category }}">{{ category }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
            <section class="box">
                <h2>Tags</h2>
                <ul>
                    {% for tag, resource in all_tags %}
                        <li>
                            <a href="{{ site.url }}/tag/{{ tag }}">{{ tag }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        </aside>
    </div>
{% endblock %}