{% extends '@theme/layouts/base.html.twig' %}

{% set sidebar = true %}

{% block main %}
    <div class="row">
        <div class="col-md-9">
            <div class="box">
                <article>
                    <header>
                        <h1 class="entry-title">{{ title }}</h1>
                        <p>
                            <time class="published" datetime="{{ date|date("Y-m-d") }}">{{ date|date("d.m.Y") }}</time>
                        </p>
                        <p class="byline author vcard">By
                            <a href="{{ site.url }}" rel="author" class="fn">
                                {{ site.author }}
                            </a>
                        </p>
                        <p>
                            <i class="glyphicon glyphicon-tags"></i> 
                             {% for tag in tags %}
                                <a href="{{ site.url }}/tag/{{ tag }}" rel="tag">{{ tag }}</a>
                                {% if not loop.last %}, {% endif %}
                             {% endfor %}
                        </p>
                    </header>

                    <div class="entry-content">
                        {{ content }}
                    </div>

                    {% include '@theme/partials/comments.html.twig' %}
                </article>
            </div>
            {% if sidebar is defined %}
                {% include '@theme/partials/footer.html.twig' %}
            {% endif %}
        </div>
        <aside class="col-md-3">
            {% include '@theme/partials/sidebar.html.twig' %}
        </aside>
    </div>
{% endblock %}