{% extends '@theme/layouts/base.html.twig' %}

{% set sidebar = true %}

{% block main %}
    <div class="row">
        <div class="col-md-9">
            <div class="box">
                <h1>{{ title }}</h1>
                {{ content }}
            </div>
            {% if sidebar is defined %}
                {% include '@theme/partials/footer.html.twig' %}
            {% endif %}
        </div>
        <aside class="col-md-3">
            <section class="box">
                <h2>Categories</h2>
                <ul>
                    {% for category, resource in all_categories %}
                        {% if category != "none" %}
                        <li>
                            <a href="{{ site.url }}/category/{{ category|lower }}">{{ category }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
            <section class="box">
                <h2>Tags</h2>
                <p>
                    {% for tag, resource in all_tags %}
                        <a href="{{ site.url }}/tag/{{ tag|lower }}">{{ tag }}</a>
                        {% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </section>
        </aside>
    </div>
{% endblock %}